<section class="foodanddrinks-module">
    <div class="container">
        <div class="row heading align-items-center">
            <div class="col-lg-3 col-12">
                <img src="../../../assets/images/drinks.jpg" alt="">
            </div>
            <div class="col-lg-9 col-12">
                <p class="main-heading">{{mainHeading}}</p>
                <p class="sub-heading">{{subHeading}}</p>
            </div>
        </div>

        <div class="content">
            <app-fandd-items></app-fandd-items>
            <app-fandd-items></app-fandd-items>
        </div>
    </div>
</section>