<div class="card-base">
  <p class="main-head">{{mainhead}}</p>
  <div class="card mb-3" style="max-width: 340px;">
    <div class="row g-0 align-items-center">
      <div class="col-md-4 col-12">
        <img src="../../../assets/images/smcard (1).jpg" width="120px" alt="...">
      </div>
      <div class="col-md-8 col-12">
        <div class="card-body">
          <h5 class="card-title">Christmas Desserts to Satisfy Even the Pickiest Eaters</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 340px;">
    <div class="row g-0 align-items-center">
      <div class="col-md-4 col-12">
        <img src="../../../assets/images/smcard (2).jpg" width="120px" alt="...">
      </div>
      <div class="col-md-8 col-12">
        <div class="card-body">
          <h5 class="card-title">Christmas Desserts to Satisfy Even the Pickiest Eaters</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 340px;">
    <div class="row g-0 align-items-center">
      <div class="col-md-4 col-12">
        <img src="../../../assets/images/smcard (3).jpg" width="120px" alt="...">
      </div>
      <div class="col-md-8 col-12">
        <div class="card-body">
          <h5 class="card-title">Christmas Desserts to Satisfy Even the Pickiest Eaters</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 340px;">
    <div class="row g-0 align-items-center">
      <div class="col-md-4 col-12">
        <img src="../../../assets/images/smcard (4).jpg" width="120px" alt="...">
      </div>
      <div class="col-md-8 col-12">
        <div class="card-body">
          <h5 class="card-title">Christmas Desserts to Satisfy Even the Pickiest Eaters</h5>
        </div>
      </div>
    </div>
  </div>
</div>