<div class="mail-card">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/logo.png" class="card-img-top card-image" alt="...">
        <div class="card-body">
            <p class="card-tag">SIGNUP FOR OUR</p>
            <h5 class="card-title">Mailing List</h5>
            <form action="">
                <input type="email" class="form-control input-mail" name="email" placeholder="Email" [(ngModel)]="email">
                <button type="button" class="btn btn-submit form-control">Sign up</button>
            </form>
            <p class="card-text">No spam, we promise!</p>
        </div>
    </div>
</div>