<section class="cards-module">
    <div class="container">
        <div class="row row-cols-md-2 row-cols-1 row-cols-lg-3 g-4">
            <div class="col">
                <a routerLink="reports">
                    <div class="card h-100">
                        <img src="../../../assets/images/cocktail.jpg" class="card-img-top" height="300px" alt="...">
                        <div class="card-body">
                            <p class="category">FOOD & DRINKS</p>
                            <h5 class="card-title">25 Christmas Cocktails to Ease You into a Holiday Spirit</h5>
                            <p class="card-text">A toast! A toast! Cheers to your health this holiday, with classics like
                                spiked eggnog, mulled wine, candy cane martinis; the list goes on and on—actually why not
                                drink it all in?</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="reports">
                    <div class="card h-100">
                        <img src="../../../assets/images/cookies.jpg" class="card-img-top" height="300px" alt="...">
                        <div class="card-body">
                            <p class="category">FOOD & DRINKS</p>
                            <h5 class="card-title">19 Christmas Cookies to Bring the Family Hustling Home</h5>
                            <p class="card-text">From gingerbread to gingersnaps, shortbread to sugar cookies, Christmas
                                cookies can make (or bake) the holidays. Get your seasonal fix with our 19 classic treats.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="reports">
                    <div class="card h-100">
                        <img src="../../../assets/images/tree.jpg" class="card-img-top" height="300px" alt="...">
                        <div class="card-body">
                            <p class="category">TRADITIONS</p>
                            <h5 class="card-title">'Twas the Night Before Christmas (A Visit from St. Nicholas)</h5>
                            <p class="card-text">Nearly everyone's heard the famous opening lines “Twas the night before
                                Christmas, when all through the house…” </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="reports">
                    <div class="card h-100">
                        <img src="../../../assets/images/celebration.jpg" class="card-img-top" height="300" alt="...">
                        <div class="card-body">
                            <p class="category">DECORATIONS</p>
                            <h5 class="card-title">Christmas Trees: A Well Decorated History</h5>
                            <p class="card-text">Christmas trees are a staple of holiday decorating, illuminating the
                                windows of homes around the world as millions of families hang lights and ornaments from
                                their branches. But where (and when) did the tradition begin?</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="reports">
                    <div class="card h-100">
                        <img src="../../../assets/images/cocktail.jpg" class="card-img-top" height="300px" alt="...">
                        <div class="card-body">
                            <p class="category">FOOD & DRINKS</p>
                            <h5 class="card-title">25 Christmas Cocktails to Ease You into a Holiday Spirit</h5>
                            <p class="card-text">A toast! A toast! Cheers to your health this holiday, with classics like
                                spiked eggnog, mulled wine, candy cane martinis; the list goes on and on—actually why not
                                drink it all in?</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="reports">
                    <div class="card h-100">
                        <img src="../../../assets/images/tree.jpg" class="card-img-top" height="300px" alt="...">
                        <div class="card-body">
                            <p class="category">TRADITIONS</p>
                            <h5 class="card-title">'Twas the Night Before Christmas (A Visit from St. Nicholas)</h5>
                            <p class="card-text">Nearly everyone's heard the famous opening lines “Twas the night before
                                Christmas, when all through the house…” </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>