<section class="carols-module">
    <div class="container">
        <div class="row heading align-items-center">
            <div class="col-3">
                <img src="../../../assets/images/tradition.png" alt="">
            </div>
            <div class="col-9">
                <p class="main-heading">{{mainHeading}}</p>
                <p class="sub-heading">{{subHeading}}</p>
            </div>
        </div>

        <div class="content">
            <app-carols-items></app-carols-items>
            <app-carols-items></app-carols-items>
        </div>
    </div>
</section>