@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.banner-module {
    padding-top: 0;
    text-align: center;
    .banner-img {
        height: 100%;
    }
}

@include tablet{
    .banner-module{
        .banner-img{
            width: 100%;
        }
    }
}