<div class="carols">
    <div class="row">
        <div class="col-lg-2 col-12 date-col">
            <p>{{date1}}</p>
        </div>
        <div class="col-lg-5 col-12 image-col">
            <img src="../../../assets/images/12days.jpg" alt="">
        </div>
        <div class="col-lg-5 col-12 text-col">
            <p class="heading">{{heading1}}</p>
            <p class="content">{{content1}}</p>
            <button [class]="btnclass" type="button" (click)="viewReport()">Read More</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-12 date-col">
            <p>{{date2}}</p>
        </div>
        <div class="col-lg-5 col-12 image-col">
            <img src="../../../assets/images/jingle.jpg" alt="">
        </div>
        <div class="col-lg-5 col-12 text-col">
            <p class="heading">{{heading2}}</p>
            <p class="content">{{content2}}</p>
            <button [class]="btnclass" type="button" (click)="viewReport()">Read More</button>
        </div>
    </div>
</div>
